.FullView {
    height: 800px;
    width: 800px;
}

.mainDiv {
    display: inline-block;
    position: absolute;
    top: 4%;
    left: 15%;
}

.Download {
    /* align-self: left; */
    position: absolute;
    left: 42%;
    top: 100%;


}